:root{
    /* intro and email sign up background */
    --darkblue-intro: hsl(217, 28%, 15%);
    /* main background */
    --darkblue-mainbg: hsl(218, 28%, 13%);
    /* footer background */
    --darkblue-footer: hsl(216, 53%, 9%);
    /* testimonials background */
    --darkblue-testimonials: hsl(219, 30%, 18%);
    /* button backgorund */
    --button-bg: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient();
}

.container {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}

.menu li{
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin-left: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.hero {
    background: var(--darkblue-intro);
    margin: 0 auto;
    text-align: center;
    color: #fff;
    position: relative;
}

.btn-started {
    background: var(--button-bg);
    outline: none;
    border: none;
    border-radius: 2em;
    padding: 15px 70px;
    color: #fff;
    position: relative;
    z-index: 200;
}

.titles {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    position: relative;
    z-index: 3000;
}

.hero-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    z-index: 2000;
}

.background-section {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -260px;
    left: 0;
    z-index: 1;
}

.services {
    background: var(--darkblue-mainbg);
    padding-top: 150px;
}