:root{
    /* intro and email sign up background */
    --darkblue-intro: hsl(217, 28%, 15%);
    /* main background */
    --darkblue-mainbg: hsl(218, 28%, 13%);
    /* footer background */
    --darkblue-footer: hsl(216, 53%, 9%);
    /* testimonials background */
    --darkblue-testimonials: hsl(219, 30%, 18%);
    /* button backgorund */
    --button-bg: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient();
}

.container {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}

.menu li{
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #FEFFFF;
    margin-left: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.hero {
    background: url('images/bg-curvy-desktop.svg'), var(--darkblue-intro);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    text-align: center;
    color: #FEFFFF;
}

.btn-started {
    background: var(--button-bg);
    outline: none;
    border: none;
    border-radius: 2em;
    padding: 15px 70px;
    color: #FEFFFF;
    position: relative;
    z-index: 200;
    margin-bottom: 30px;
    cursor: pointer;
}

.main-title {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    width: 60%;
    margin: 20px auto;
}

.hero-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 60%;
    margin: 10px auto;
}

.background-section {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -260px;
    left: 0;
    z-index: 1;
}
4
.main-photo img {
    height: auto;
    padding-top: 30px;
}

.services {
    background: var(--darkblue-mainbg);
    padding: 30px 0;
}

.icons-container {
    display: grid;
    text-align: center;
    grid-template-columns: 35% 35%;
    grid-template-rows: 300px 300px;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
}

.services .container .icons-container .feature .icon-title {
    color: #FEFFFF;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}


.services .container .icons-container .feature .icon-body-text {
    color: #FEFFFF;
    font-size: 14px;
    line-height: 20px;
}

.productive {
    background-color: var(--darkblue-mainbg);
}

.productive .prod-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod-titles {
    font-family: 'Open Sans', sans-serif;
    color: #FEFFFF;
    font-weight: 700;
    font-size: 32px;
    width: 60%;
}

.productive .prod-card .col1 {
    width: 48%;
}

.productive .prod-card .col1 img {
    width: 100%;
}

.productive .prod-card .col2{
    color: #FEFFFF;
    width: 48%;
}

.productive .prod-card .col2 h2{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.productive .prod-card .col2 p {
    line-height: 24px;
}

.how {
    padding-bottom: 5px;
    border-bottom: 1px solid hsl(198, 60%, 50%);
    background: url('images/icon-arrow.svg') no-repeat;
    background-position: right 2px;
    padding-right: 20px;
    cursor: pointer;
}

.testimonials {
    padding: 120px 0 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    position: relative;
    background: url('images/bg-quotes.png') no-repeat;
    background-position: left top 80px;
}

.testimonials .card {
    background-color: var(--darkblue-testimonials);
    padding: 20px 15px 10px 15px;
    color: #FEFFFF;
    border-radius: 5px;
    word-break: keep-all;
    width: 32%;
}

.testimonials .card .profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.testimonials .card .comments {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.testimonials .card .profile img {
    border-radius: 50%;
    width: 10%;
    margin-right: 5px;
}

.testimonials .card .profile .name {
    font-weight: 700;
}

.form {
    background: var(--darkblue-testimonials);
    margin: 0 auto;
    text-align: center;
    width: 80%;
    padding: 20px 30px;
    border-radius: 10px;
    -webkit-box-shadow: 8px 13px 21px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 13px 21px -11px rgba(0,0,0,0.75);
    box-shadow: 8px 13px 21px -11px rgba(0,0,0,0.75);
    position: relative;
    bottom: -110px;
    z-index: 20;
}

.form .titles {
    font-family: 'Open Sans', sans-serif;
    color: #FEFFFF;
    font-weight: 700;
    font-size: 32px
}

.form .form-text {
    color: #FEFFFF;
    width: 80%;
    margin: 0 auto;
}

.form-message {
    padding-bottom: 20px;
}

.form .form-input {
    margin-top: 20px;
    background: #FEFFFF;
    border-radius: 2em;
    outline: none;
    border: none;
    padding: 15px 40px;
    width: 60%;
    margin-right: 10px;
}

.form .form-input::placeholder {
    color: #BDBDBD;
}

.form .btn-free {
    background: var(--button-bg);
    color: #FFFFFF;
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

footer {
    width: 100%;
    background: var(--darkblue-footer);
    position: absolute;
    padding-top: 120px;
}

.logo-footer {
    padding-top: 30px;
}

.mail {
    display: inline-block;
    background: url('images/icon-email.svg') no-repeat;
    background-position: left center 10px;
    padding-left: 25px;
    margin-bottom: 10px;
}

.phone {
    background: url('images/icon-phone.svg') no-repeat;
    background-position: left center 10px;
    padding-left: 25px;
    margin-bottom: 10px;
}

.info {
    background: url('images/icon-location.svg') no-repeat;
    background-position: left center 10px;
    padding-left: 25px;
}

.footer-container {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    color: #FEFFFF;
}

.footer-container .info {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.footer-container .info p {
    margin: 0;
}

.footer-container .contact {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-container .contact img {
    margin: 0 10px 10px 0;
}

.footer-container .contact p {
    margin: 0 0 15px 0;
}

.footer-container .menu1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-container .menu1 ul li{
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-container .social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-container .social ul li{
    border: 1px solid #FEFFFF;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "a b"
            "c d"
            "e e";
    }

    .footer-container .social ul li {
        margin-right: 2px;
    }
    .form .btn-free {
        margin-top: 10px;
    }
    .testimonials {
        padding: 100px 0 20px 0;
    }
    .main-photo img{
        width: 100%;
    }
    .info {
        grid-area: a
    }
    .contact {
        grid-area: c;
    }
    .menu1:first-of-type {
        grid-area: b;
    }
    .menu1 ul li {
        text-align: right;
    }
    .social {
        grid-area: e;
        text-align: center;
    }
    .btn-free {
        width: 60%;
    }
    .testimonials {
        background-position: left 15px top 60px;
    }
}

@media screen and (max-width: 630px){
    .container {
        width: 85%;
    }
    header {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .hero {
        padding-bottom: 30px;
    }
    .main-title {
        font-size: 24px;
        line-height: 34px;
        width: 90%;
    }
    .hero-text {
        line-height: 24px;
        width: 100%;
    }
    .logo {
        width: 30%;
    }   
    .menu li a {
        margin-left: 10px;
    }
    .menu ul {
        margin: 0;
        padding: 0;
    }
    .icons-container {
        display: grid;
        text-align: center;
        grid-template-columns: 80%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .feature:first-child{
        padding-top: 70px;
    }
    .feature {
        padding-bottom: 20px;
    }
    .prod-card {
        flex-direction: column;
        width: 100%;
    }
    .productive .prod-card .col1, .productive .prod-card .col2 {
        width: 100%;
    }
    .prod-titles {
        padding-top: 20px;
        font-size: 18px;
        width: 100%;
    }
    .testimonials {
        padding: 100px 0 10px 0;
        display: flex;
        flex-direction: column;
        position: relative;
        background: url('images/bg-quotes.png') no-repeat;
        background-position: left 15px top 60px;
    }
    .testimonials .card {
        padding: 10px;
        color: #FEFFFF;
        border-radius: 5px;
        word-break: keep-all;
        width: 85%;
        margin-bottom: 30px;
    }
    .form {
        width: 90%;
        padding: 10px;
    }
    .form .form-text{
        margin: 0;
        width: 100%;
        text-align: center;
        text-align: 24px;
    }
    
    .form .form-message .form-input {
        overflow: hidden;
    }
    
    .form .form-input {
        margin-top: 20px;
        padding: 15px 20px;
        width: 70%;
        margin-right: 0;
    }

    .form .form-message .btn-free {
        width: 100%;
    }
    footer {
        margin: 0 auto;
    }
    .footer-container {
        display: inline-block;
        padding: 20px 0;
        color: #FEFFFF;
    }
    .menu1 ul li {
        text-align: left;
    }
    .contact {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;

    }
    .menu1 {
        margin-bottom: 20px;
    }
    .social {
        text-align: center;
    }
}

@media screen and (max-width: 1024px){
    .main-photo img {
        width: 100%;
    }
    .footer-container .social ul {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .footer-container .social ul li {
        margin-right: 4px;
    }
    .prod-titles {
        width: 100%;
    }
    .form .form-message .btn-free {
        margin-top: 10px;
    }
}